# Node/CDK
*.js
!jest.config.js
!infrastructure/eslint.config.js
!infrastructure/.eslintrc.js
*.d.ts
node_modules/
cdk.out/
.cdk.staging/

# AWS credentials
.env
.aws/

# OS files
.DS_Store

# VSCode
.vscode/

# Claude
claude/