@tailwind base;
@tailwind components;
@tailwind utilities;

/* Logo stroke hover effect */
.logo-stroke {
  -webkit-text-stroke: 2px #F541A6;
  color: transparent;
  transition: -webkit-text-stroke 0.3s;
}

.logo-stroke:hover {
  -webkit-text-stroke: 2px #D93990;
}
