<div class="mt-8 p-6">
  <p
    class="text-4xl text-[#F541A6] hover:text-[#D93990] transition-colors text-center mt-4"
  >
    COPYWRITING
  </p>
  <p
    class="text-4xl text-[#F541A6] hover:text-[#D93990] transition-colors text-center mt-4"
  >
    CONTENT THAT RESONATES
  </p>
  <div class="flex justify-center">
    <div class="max-w-2xl">
      <p
        class="text-2xl text-[#F541A6] hover:text-[#D93990] transition-colors text-center mt-4"
      >
        I lean on my background in journalism and marketing to create authentic
        content that resonates and engages. I start by working to understand the
        target audience and brand vision, then craft stories and text that leave
        a lasting impression. My experience includes writing blogs, newsletters,
        social posts, and press releases, as well as website and UX copy.
      </p>
    </div>
  </div>
</div>
